.DS_Store
.log

/.settings
/bin
/scripts
/obj
/gen
/build
/dist
/build-res/JPush-Android-sdk/example/

local.properties
proguard.cfg
scripts/zkm_script.txt

/example/bin
/example/gen
/sample-high/bin
/sample-high/gen
ApkCheck/APK
